:root {
    --white-color: #ffffff;
    --bg-footer: #0B265A;
    --text-color: #192252;
    --main-text-color: #848FAC;
    --bg-button-color: #0E1734;
    --secondary-text-color: #424F7B;
    --text-color-footer: #D9DBDE;
  }
  
  body {
    background-color: var(--white-color);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);
    margin: 0;
  }
  
  input {
    padding: 0;
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding-left: 0;
  }
  
  img {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  
  button {
    border: none;
    background-color: var(--bg-button-color);
  }
  
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  
    margin: 0;
    color: var(--main-text-color);
  }
  
  .container {
    width: 1440px;
    margin: 0 auto;
}